body {
  padding: 100px;
}

.phone-number {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.phone-number__label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.phone-number__input {
  box-sizing: border-box;
  padding: 5px;
  border: 2px solid #aaa;
  font-size: 30px;
  outline: none;
}

.phone-number__input--ok {
  border-color: YellowGreen;
  background: YellowGreen;
}

.phone-number__input--error {
  border-color: LightSalmon;
  background: LightSalmon;
}